@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Product Sans";
  src: url("/Fonts/ProductSansBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Product Sans Regular";
  src: url("/Fonts/ProductSansRegular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-color: #825dd2;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #c5b6e6, transparent);
  opacity: 0.5;
  z-index: 1;
}
nav {
  padding: 20px;
  padding-inline: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /* background: linear-gradient(to right, #825dd2, #d2a885); */
}
nav h2 a {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Product Sans Regular", sans-serif;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover,
nav h2 a:hover {
  text-decoration: underline;
  color: #d2a885;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header .container {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

#can {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 4;
}
#can:hover {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    animation: bouncey 1s 0s ease infinite alternate;
    /* transform: translate(-50%, -50%) scale(1.1) rotate(10deg); */
}
@keyframes bouncey {
    0% {
      transform: translate(-50%, -50%) scale(1.2) rotate(10deg);
    }
    30% {
      transform: translate(-50%, -50%) scale(1.3) rotate(5deg);
    }
    60% {
      transform: translate(-50%, -50%) scale(1.2) rotate(10deg);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.25) rotate(8deg);
    }
  }
#can:hover ~ #black-berry1 {
  transform: translateX(-200px) rotate(30deg);
}

#can:hover ~ #black-berry2 {
  transform: translateY(-20px) scale(1.1);
}

#can:hover ~ #black-berry3 {
  transform: translate(-300px, -10px) rotate(-10deg);

}
#can:hover ~ #leaf {
    transform: translate(200px, -400px) rotate(-100deg);
  
  }
#coconut {
  position: absolute;
  width: 20%;
  top: 10%;
  right: 0%;
}

#black-berry1,
#black-berry2,
#black-berry3 {
  position: absolute;
}
#black-berry1 {
  width: 9vw;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#black-berry2 {
  width: 12vw;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#black-berry3 {
  width: 14vw;
  top: 65%;
  left: 40%;
  transform: translate(-50%, -50%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#leaf {
  position: absolute;
  width: 12%;
  bottom: 0%;
  left: 20%;
  transform: translate(-50%, -50%);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 3;
}

header .container h1 {
  position: absolute;
  font-size: 26vw;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-weight: 900;
  letter-spacing: 10px;
}
